:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-bg-color: #333333;
    --button-text-color: #ffffff;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --toggle-bg-color: #000000;
    --toggle-text-color: #ffffff;
    --try-text-color:#ffff;
}

.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --button-bg-color: #555555;
    --button-text-color: #ffffff;
    --link-color: #4dabf7;
    --link-hover-color: #0096c7;
    --toggle-bg-color: #ffffff;
    --toggle-text-color: #000000;
    --try-text-color:#535353;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--try-text-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.form-group button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background: #555;
}

.dark-mode .form-group input,
.dark-mode .form-group textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.dark-mode .form-group button {
    background: var(--button-bg-color);
    color: var(--button-text-color);
}

.dark-mode footer {
    background: #222;
}

#theme-toggle-button {
    position: fixed !important;
    bottom: 65px !important; /* Ajusta este valor para mover el botón hacia arriba o hacia abajo */
    right: 15px !important;
    background-color: var(--toggle-bg-color) !important;
    color: var(--toggle-text-color) !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 8px 16px !important;
    cursor: pointer !important;
    z-index: 1000 !important;
    transition: background-color 0.3s, color 0.3s !important;
}