:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-bg-color: #333333;
    --button-text-color: #ffffff;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --toggle-bg-color: #000000;
    --toggle-text-color: #ffffff;
}

.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --button-bg-color: #555555;
    --button-text-color: #ffffff;
    --link-color: #4dabf7;
    --link-hover-color: #0096c7;
    --toggle-bg-color: #ffffff;
    --toggle-text-color: #000000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfdede;
    --bs-body-bg: var(--background-color);
    color: var(--text-color); /* Aplica el color de texto global */
}

#main-content {
    display: flex;
    padding: 20px;
}

.border {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 30%;
    background-color: #004d61;
    color: white;
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    float: left;
    margin-left: 10px;
}

.Personal-center {
    text-align: center;
    color: var(--text-color); /* Asegura que el color del texto sea dinámico */
}
#theme-toggle-button {
    position: fixed;
    bottom: 65px;
    right: 15px;
    background-color: var(--toggle-bg-color);
    color: var(--toggle-text-color);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px; /* Tamaño del texto dentro del botón */
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}
