:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-bg-color: #007bff;
    /* Azul para modo claro */
    --button-text-color: #ffffff;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --toggle-bg-color: #000000;
    --toggle-text-color: #ffffff;
    --container-bg-color: #f9f9f9;
    --container-dark-bg-color: #1e1e1e;
}

.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --button-bg-color: #6a0dad;
    /* Púrpura para modo oscuro */
    --button-text-color: #ffffff;
    --link-color: #4dabf7;
    --link-hover-color: #0096c7;
    --toggle-bg-color: #ffffff;
    --toggle-text-color: #000000;
    --container-bg-color: #1e1e1e;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 50px;
    margin-top: 80px;
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #80bdff;
}

.dark-mode .form-control:focus {
    box-shadow: 0 0 5px rgba(173, 50, 255, 0.5);
    border-color: #ab47bc;
}

.ticket-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.ticket-table th,
.ticket-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.ticket-table th {
    background-color: #333;
    color: white;
}

.refresh-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.refresh-button:hover {
    background-color: var(--link-hover-color);
}

#theme-toggle-button {
    position: fixed;
    bottom: 65px;
    /* Ajustado para estar consistente en todas las vistas */
    right: 15px;
    /* Ajustado para estar consistente en todas las vistas */
    background-color: var(--toggle-bg-color);
    color: var(--toggle-text-color);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    /* Tamaño de texto consistente */
    min-width: 53.98px;
    /* Asegura el ancho mínimo */
    min-height: 40px;
    text-align: center;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

body.dark-mode .container {
    background-color: var(--container-dark-bg-color);
}